
:root {
  --primaryColor: #00615D;
  --secondaryColor: #8FBAD8;
  --grayColor: #495D71;
  --accentColor: #6EA4A8;
  --textColor: black;
}


.App {
  text-align: center;
  height: 100svh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

p, input, select, button {

  font-size: 2vmin;
}

p {
  display: inline;
}


.NavigationBar {
  background-color: var(--primaryColor);
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  justify-content: space-around;
}

ul li {
  width: 34%;
  display: flex;
}

li a {
  color: white;
  text-decoration: none;

  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

li a:hover {
  background-color: var(--accentColor);
}

button[type="submit"] {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: rgb(30, 208, 75);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.active {
  background-color: var(--accentColor);
}

.Body {
  display: flex;
  height: 100%;
  padding: 0 5px;
  margin-top: 20px;
  margin-bottom: 5px;
}


/* ShiftCalendar */

.rbc-calendar {
  max-width: 800px;
  height: 100%;
}

.rbc-toolbar {
  gap: 6px;
  font-size: 20px !important;
}

.rbc-toolbar-label {
  order: 1;
}

.rbc-btn-group {
  order: 2;
}

.rbc-calendar {
  flex: 1;
  width: 100%;
}

.rbc-event {
  padding: 0 !important;
  background-color: #fff !important;
}

.rbc-event-content {
  white-space: normal !important;
}


/* Shifts */ 
.ShiftContent {
  display: flex;
  flex: 1;
}

.CustomShiftEvent {
  border-radius: 5px;
  padding: 2px 5px;
  text-align: center;
  word-break: break-word;
  font-size: 2vmin;
}

/* Modal view */
.Modal {
  background-color: #fff;
  border-width: 1px;
  height: calc(80vh - 20px);
  margin: 10svh 10vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
} 

.ModalOverlay {
background-color: #82828299;
position: fixed;
top:0;
left:0;
right: 0;
bottom: 0;
z-index: 1000;
}

.ModalContainer {
  padding: 10px 20px;
  overflow-y: scroll;
  height: 100%;
}

.SelectionButton {
  font-size: 18px;
  width: 100%;
  height: 50px;
  margin: 4px 0px;
  border-radius: 5px;
    box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.2);
    border: 0;
    cursor: pointer;
}

.CancelButton {
  font-size: 18px;
  height: 50px;
  margin: 0;
  border-radius: 0 0 15px 15px;
  border: 0;
  box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: rgb(88, 82, 82);
  color: white;
  cursor: pointer;
}

.LoadingIndicator {
  position: absolute;
  top: 50%;
}


/* Shifts */
.ShiftContent {
  display: flex;
  flex: 1;
  justify-content: center;
}

.CustomShiftEvent {
  border-radius: 5px;
  padding: 2px 5px;
  text-align: center;
  word-break: break-word;
  font-size: 2vh;
}


/* TimeSheet */
.TimeSheetContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.WorkingHoursModal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.WorkingHoursModal>form> div {
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.HourInput::after {
  content: "Uhr";
  margin-left: 10px;
}

.MinutesInput::after {
  content: "h";
  margin-left: 10px;
}

.TimeSheetContent > .rbc-calendar> table {
  margin-top: 20px;
}

.TimeSheetContent>button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.2);
  border: 0;
  cursor: pointer;
}

.TimeSheetContent>.rbc-calendar{
  margin-top: 20px;
}

.WorkingHoursModal>form>div:last-of-type {
  flex-direction: column;
  align-items: start;
}

.TaskInput {
  width: 100%;
  height: 150%;
}


